@import 'styles/_unit.scss';

.gallery {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) 0 rem(64);
    
    @media screen and(max-width: rem(767)) {
        padding: rem(16) 0 rem(16);
    }
    @media screen and(max-width: rem(575)) {
        
    }
    
    &_content {
        
        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: rem(32);
            width: 100%;
            
            @media screen and(max-width: rem(1191)) {
                justify-content: center;
                gap: rem(24);
            }
            @media screen and(max-width: rem(1191)) {
                justify-content: center;
                gap: rem(14);
            }
        }
        
        .gallery_content_title {
            font-size: rem(40);
            line-height: rem(48);
            color:#020A22;
            font-weight: 600;
            margin: 0 0 rem(32);
            
            @media screen and(max-width: rem(767)) {
                // margin-bottom: rem(16);
                display: none;
            }
            @media screen and(max-width: rem(575)) {
                
            }
        }
        
        .content_length {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: rem(34.5) 0 0;
            
            .showContentBtn {
                width: rem(190);
                height: rem(48);
                background: #0071ff;
                border:none;
                border-radius: rem(12);
                font-size: rem(18);
                line-height: rem(27);
                color:#fff;
                text-transform: none;
                transition: transform 0.3s ease;
                margin: rem(24) auto 0;
                
                @media screen and(max-width: rem(575)) {
                    // display: none;
                }
                &:hover {
                    transform: translate(rem(0), rem(-4));
                }
            }   
        }
    }
}

.galleryList {
    max-height: rem(280);
    
    .galleryList_item {
        width: rem(286);
        height: rem(280);
        border-radius: rem(12);
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        margin: rem(32) 0 0;
        cursor: pointer;
        
        @media screen and(max-width: rem(991)) {
            width: rem(240);
            height: rem(200);
            margin: 0 0 0 0;
        }
        @media screen and(max-width: rem(767)) {
            width: rem(245);
        }
        @media screen and(max-width: rem(575)) {
            width: rem(164);
            margin: rem(0) 0 0;
            height: rem(160);
        }
        
        img {
            transition: transform 1.8s ease;
        }
        &:hover img{
            transform: scale(1.3);
        }
        
        .gallery_context {
            position: absolute;
            max-width: 100%;
            color:#fff;
            bottom:0;
            left:0;
            margin: 0 0 rem(16) rem(15);
        }
        .gallery_date {
            max-width: rem(109);
            display: flex;
            align-items: center;
            span {
                margin: 0 0 0 rem(10);
                font-size: rem(16);
                line-height: rem(24);
                opacity: 0.7;
                font-weight: 400;
                
                @media screen and(max-width: rem(575)) {
                    font-size: rem(11);
                }
                @media screen and(max-width: rem(767)) {
                    font-size: rem(14);
                }
            }
        }
        .gallery_title {
            padding: 0 0 0 0;
            font-size: rem(20);
            line-height: rem(28);
            font-weight: 700;
            
            @media screen and(max-width: rem(575)) {
                font-size: rem(14);
                line-height: rem(17);
            }
            @media screen and(max-width: rem(767)) {
                font-size: rem(16);
                line-height: rem(17);
            }
        }
    }
}

.galleryList_item_new {
    width: rem(590);
    height: rem(280);
    border-radius: rem(12);
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: rem(32) 0 0;
    object-fit: cover;
    cursor: pointer;
    
    @media screen and(max-width: rem(991)) {
        max-width: rem(500);
        margin: 0 0 0 0;
        height: rem(200);
    }
    @media screen and(max-width: rem(767)) {
        max-width: rem(505);
    }
    @media screen and(max-width: rem(575)) {
        max-width: rem(340);
    }
    
    img {
        transition: transform 2.5s ease;
    }
    &:hover img{
        transform: scale(1.3);
    }
    
    .gallery_context {
        position: absolute;
        max-width: 100%;
        color:#fff;
        bottom:0;
        left:0;
        margin: 0 0 rem(21.5) rem(24);
    }
    .gallery_date {
        max-width: rem(109);
        display: flex;
        align-items: center;
        span {
            margin: 0 0 0 rem(10);
            font-size: rem(16);
            line-height: rem(24);
            opacity: 0.7;
            
            @media screen and(max-width: rem(767)) {
                font-size: rem(14);
            }
            @media screen and(max-width: rem(575)) {
                font-size: rem(11);
            }
        }
    }
    .gallery_title {
        padding: 0 rem(56) 0 0;
        font-size: rem(20);
        line-height: rem(28);
        
        @media screen and(max-width: rem(767)) {
           font-size: rem(16); 
        }
        @media screen and(max-width: rem(575)) {
            font-size: rem(14);
        }
    }
    
}



// gallery modal slider css code area

.dialog {
    max-width: 100%;
    min-height: rem(600);
    text-align: center;
    position: relative;
    display: block;
    
    @media screen and(max-width: rem(991)){
         height: rem(550);
    }
    @media screen and(max-width: rem(767)){
         
    }
    @media screen and(max-width: rem(575)){
        display: none;
        
    }
    
    .dialog_images {
        margin-top: rem(36);
        position: relative;
        
        @media screen and(max-width: rem(767)) {
            
        }
    }
    .dialog_closeIcon {
        position: absolute;
        // top: rem(-30);
        right:25%;
        z-index: 9999;
        background: none;
        border:none;
        cursor: pointer;
        
        @media screen and(max-width: rem(1191)) {
            right: 20%;
        }
        @media screen and(max-width: rem(991)) {
            right: 14%;
        }
        @media screen and(max-width: rem(767)) {
            right: 13%;
        }
    }
    
    .dialog_img_context {
        max-width: rem(590);
        margin: rem(10) auto 0;
        text-align: left;
        
        @media screen and(max-width: rem(991)) {
           max-width: rem(550); 
        }
        @media screen and(max-width: rem(767)) {
            max-width: rem(450); 
        }
        @media screen and(max-width: rem(575)) {
            max-width: rem(400); 
        }
        
        .dialog_img_date {
            
            span {
                font-size: rem(16);
                line-height: rem(28);
                color:#fff;
                opacity: 0.6;
                margin: 0 0 0 rem(10);
                font-weight: 400;
            }
        }
        h4 {
            font-size: rem(20);
            line-height: rem(28);
            font-weight: 700;
            color:#fff;
        }
    }
}
.galeryArrow_right, .galeryArrow_left {
    z-index: 99 !important;
    
    @media screen and (max-width: rem(767)){
        display: none;
    }
}

// Mobile Gallery
.mobile_dialog {
    display: none;
    
    @media screen and (max-width: rem(575)){
        display: block;
    }
    
    .MuiPaper-root .MuiDialog-paper {
        margin: 0 !important;
    }
    
    .mobile_dialog_closeIcon {
        position: absolute;
        top: rem(31);
        right: rem(23);
        background: none;
        border: none;
        z-index: 99999;
    }
    
    .mobile_dialog_images {
        max-width: 100%;
        margin-top: rem(100);
        max-height: rem(259);
        margin-right: rem(10);
        display: flex;
        justify-content: center;
        align-items: center;
        
        .mobile_dialog_img {
           max-width: 100%; 
           max-height: rem(259);
        }
        
        
    }
    
    .mobile_dialogImg_context {
          position: absolute;  
          bottom:0;
          max-width: rem(443);
          margin: rem(16);
          
        .mobile_dialogImg_date {
            display: flex;
            align-items: center;
            
            span {
                font-size: rem(16);    
                line-height: rem(28);
                color:#fff;
                opacity: 0.8;
                margin: 0 0 0 rem(10);
                font-weight: 400;
            }
            
        }
        h4 {
           font-size: rem(15); 
           line-height: rem(24);
           color:#fff;
           font-weight: 500;
        }
    }
    
}

