@import 'styles/_unit.scss';

.coaches {
    max-width: 100%;
    padding: rem(128) 0 rem(64);
    
    @media screen and(max-width: rem(767)) {
        padding: rem(16);
    }

    .coaches_title {
        font-size: rem(40);
        line-height: rem(48.41);
        color:#020A22;
        font-weight: 600;
        
        @media screen and (max-width: rem(767)) {
            max-width: rem(400);
            margin: 0 auto;
            font-size: rem(30);
        }
        @media screen and (max-width: rem(575)) {
            max-width: rem(400);
            margin: 0 auto;
            font-size: rem(20);
            line-height: rem(30);
            font-weight: 600;
        }
        
        
    }
    
    .coaches_list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: rem(24);
        
        @media screen and (max-width: rem(991)) {
            grid-template-columns: 1fr 1fr;
        }
        @media screen and (max-width: rem(767)) {
            grid-template-columns: 1fr;
        }
        @media screen and (max-width: rem(575)) {
            grid-template-columns: 1fr;
        }
        
        .coaches_list_item {
            background: #FFFFFF;
            border: rem(1) solid #E5E9EB;
            border-radius: rem(12);
            overflow: hidden;
            margin: rem(32) auto 0;
            max-width: rem(400);
            
            @media screen and(max-width: rem(767)) {
                margin: rem(10) auto 0 ;
            }
            
            .coaches_info {
                padding: rem(8) rem(16) rem(8);
                
                h2 {
                    font-size: rem(24);
                    line-height: rem(32);
                    color:#111;
                    font-weight: 500;
                    margin: 0 0 rem(4);
                    
                    @media screen and(max-width: rem(991)) {
                        font-size: rem(20);
                        line-height: rem(24);
                    }
                }
                .coaches_status {
                    font-size: rem(18);
                    line-height: rem(27);
                    color:#0071FF;
                    font-weight: 400;
                    max-width: rem(320);
                    margin: 0 0 rem(16);
                    
                    @media screen and(max-width: rem(991)) {
                        font-size: rem(16);
                        line-height: rem(24);
                    }
                }
                .coaches_place, .coaches_birthDate {
                    font-size: rem(16);
                    line-height: rem(28.8);
                    color:#84919A;
                    font-weight: 400;
                    
                    @media screen and(max-width: rem(991)) {
                        font-size: rem(14);
                        line-height: rem(24);
                    }
                }
            }
        }
    }
}