/* /* @font-face {
  font-family: 'SF Pro Display';
  src: url('Sf_Pro_Display_Cufon/SFPRODISPLAYREGULAR.OTF') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Black.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('./Sf_Pro_Display_Cufon/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}


@font-face {
  font-family: 'Rubik';
  src: url('./Sf_Pro_Display_Cufon/Rubik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./Sf_Pro_Display_Cufon/Rubik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./Sf_Pro_Display_Cufon/Rubik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
