@import 'styles/_unit.scss';

// News Item Css code Area
.newsItem {
    max-width: 100%;
    padding: 0 rem(16);
    // margin: rem(64) auto rem(70);
    
      
      .newsItem_content_item {
        // max-width: 100%;
        padding: rem(100) 0 rem(70);
        display: grid;
        grid-template-columns: 2fr 1fr;
        
        @media screen  and (max-width: rem(991)){
            grid-template-columns: 2fr;
            max-width: 0 auto;
        }
        @media screen  and (max-width: rem(767)){
            grid-template-columns: 2fr;
            max-width: 0 auto;
            padding: rem(16) 0 rem(16);
        }
      }
}
// Single news page css code
.singleNews {
    max-width: rem(823);
    padding: 0 rem(16);
    margin: 0 auto;
    
    @media screen and (max-width: rem(1191)) {
        padding: 0 rem(16);
        margin: 0 auto;
    }
    .singleNews_content {
         
        &_title {
        font-size: rem(36);
        line-height: rem(43);
        color:#020A22;
        opacity: 0.8;
        
        @media screen and (max-width: rem(767)) {
            font-size: rem(20);
            line-height: rem(30);
            }
        }
        .singleNews_date {
            margin: rem(16) 0 0;
            
            span {
                font-size: rem(18);
                line-height: rem(27);
                color:#939393;
                margin: 0 0 0 rem(10);
                
                @media screen and (max-width: rem(767)) {
                    font-size: rem(12);
                    line-height: rem(14);
                }
            }
        }
        
        .singleNews_img {
            margin-top: rem(32);
            width: 100%;
            max-height: rem(420);
        }
        
        .singleNews_context {
            margin: rem(24) 0 0;
            max-width: rem(748);
            
            .single_text {
                color: #141414;
                font-size: rem(18);
                line-height: rem(26);
                @media screen and (max-width: rem(767)) {
                    font-size: rem(14);
                    line-height: rem(24);
                }
                
            }
            .single_text:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
        
    }
}

// news Sidebar css part
.newsSidebar {
    max-width: rem(400);
    padding: rem(200) 0 0;
    margin: 0 auto;
 
    
    @media screen and (max-width: rem(991)) {
        margin: 0 auto;
        padding: rem(16) 0 0;
    }
    @media screen and (max-width: rem(767)) {
        
    }
    
    .newsSidebar_content {
        max-width: rem(400);
        
        @media screen and (max-width: rem(991)) {
            display: grid;
            grid-template-columns: 1fr;
            gap: rem(10);
        }
        @media screen and (max-width: rem(767)) {
            display: grid;
            grid-template-columns: 1fr;
            gap: rem(10);
        }
    }
}

