@import 'unit';
@import '../../public/fonts/font.css';

:root {
  --primary-color: #51267d;
  --secondary-color: #fdc100;
  --text-color: #696969;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}
@mixin smooth-scroll() {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  background: #fff;
  // ::-webkit-scrollbar {
  //   display: none; 
  // }
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none !important;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
.MuiContainer-root {
  max-width: 1248px !important;
  // padding: 0 !important;
  margin: 0 auto;
} 

// Newspage Pagination
#newspage .MuiPagination-ul li button {
  font-size: 18px;
  color:#5B6871;
}

#newspage .MuiPagination-ul li button.Mui-selected{
  font-size: 18px;
  color: #0071FF;
  background-color: none;
}

#newspage .MuiSvgIcon-root .MuiPaginationItem-icon {
  fill:#0071FF;
}
#header .MuiPaper-root {
  top: rem(60) !important;
}

#header .MuiList-root, .MuiMenu-list {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      background: #fff;
      border-radius: 12px !important;
}

#competition .MuiDialog-paper {
  display: none ;
  background: #000;
}

.compet-slider .slick-dots li button::before{
  width: 12px;
  height: 12px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 50px;
  
  &:hover::before {
    opacity: 0 !important;
  }
}
.compet-slider .slick-dots li.slick-active button::before {
  color:#0071FF;
  width: 16px;
  height: 16px;
  background: #0071FF;
  border: none;
}
.compet-slider .slick-dots li button {
  width: 10px;
  height: 10px;
}

// .slick-slider {
    
//     .slick-prev{
//       width: 48px;
//       height: 48px;
//       background: #FFFFFF;
//       border: 1px solid #E8E9EB;
//       border-radius: 50px;
//       transform: matrix(-1, 0, 0, 1, 0, 0);
//       z-index: 999;
//       left: rem(-25);
//     }
//     .slick-next{
//       right: rem(-25);
//       width: 48px;
//       height: 48px;
//       background: #FFFFFF;
//       border: 1px solid #E8E9EB;
//       border-radius: 50px;
//       transform: matrix(-1, 0, 0, 1, 0, 0);
//       z-index: 999;
//     }
// }



.dialog_slider { 
  
  @media screen and(max-width: rem(767)){
    max-width: 740px;
  }
  
  .slick-prev {
    left: rem(-40);
    cursor: pointer;
    // display: none !important;
    
    &::before {
      display: none;
    }
  }
  .slick-next {
    right: 0;
    // display: none !important;
    
    &::before {
      display: none;
    }
  }
}
.dialog_slider {
  
  .slick-gallery {
    display: none !important;
    @media screen and(max-width: rem(575)){
      display: block;
    }
  }
}



.compet_dialog .MuiPaper-root {
  border-radius: rem(12) !important;
}

.header_popover {
  top: 28px !important;
  
  .MuiPaper-root {
    border-radius: rem(12) !important;
  }
}


// Gallery Mobile Slider
#mobile_dialog {
  
  .MuiPaper-root {
    width: 100%;
    min-height: 100%;
    margin: 0 !important;
    position: relative;
    border-radius: 0px !important;
    
  }
}

// Gallery Slider Mobile

.mobile_dialog_slider {
  
    .slick-dots {
      bottom: rem(-80);
    }
    li {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #fff;
      
      &.slick-active {
        background: #0071FF;
      }
      
      button {
        // background: red;
        &::before {
          display: none !important;
        }
      }
    }
}


// Sportsmen Dialog

.sportsmen_dialog {
    
    .MuiPaper-root {
      border-radius: rem(12) !important;
      
    }
}

// Video Modal
#video_modal {
  
  @media screen and(max-width: rem(767)){
    display: none !important;
  }
  
  .MuiDialog-container {
    max-width: rem(1248);
    display: block !important;
    max-height: rem(600) !important;
    margin: 0 auto;
  }
  
}

#iframe_video {
  
  .ytp-impression-link {
    display: none !important;
  }
  .ytp-title-text {
    display: none !important;
  }
  .ytp-large-play-button .ytp-button {
    display: none !important;
  }

}

// Mobile Video List
#mobile_videoList {
  height: 100%;
  width: 100%;
  display: none;
  
  
  @media screen and(max-width: rem(767)){
    display: block;
  }
  
  .MuiDialog-container {
    width: 100%;
    height: 100%;
    display: block !important;
    margin: 0 !important;
    background: none !important;
  }
  .MuiPaper-root {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background: none !important;
    max-height: none !important;
  }
  .MuiBackdrop-root {
    background-color: rgba(0, 0, 0, 0.96);
  }
}