@import 'styles/_unit.scss';


.footer {
   max-width: 100%; 
   margin: 0 auto;
   background: #0E1636;
   padding: rem(48) rem(16);
   position: relative;
   bottom:0;
   
   @media screen and (max-width: rem(575)){
    padding: rem(24) rem(16);        
    }   
   
   .footer_content {
        padding: rem(0) rem(0);
         @media screen and (max-width: rem(575)){
            position: relative;    
         }   
    
        .footer_logo {
            width: rem(59);
            height: rem(56);
            
        }
        
        &_item {
            display: flex;
            align-items: center;
            
            @media screen  and (max-width: rem(575)){
                height: rem(200);
                display: flex;
                flex-direction: row-reverse ;
                align-items: flex-start;
                // display: block;
                // flex-direction: column;
            }
        }
        
        .footer_links {
            width: rem(433);
            height: rem(27);
            display: flex;
            justify-content: space-between;
            margin: 0 0 0 rem(36);
            
            @media screen  and (max-width: rem(575)){
                display: flex;
                flex-direction: column;
                margin: 0 0 0 0;
                
            }
            .footer_link {
                font-size: rem(18);
                line-height: rem(27);
                color:#fff;
                font-weight: 400;
                
                @media screen and (max-width: rem(575)){
                    font-size: rem(14);
                    line-height: rem(24);
                    
                    &:not(:last-child) {
                        margin-bottom: rem(16);
                    }
                }   
            }
        }
     } 
     .copy_rights {
        margin-top: rem(48);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(26) 0 0;
        border-top: rem(1) solid rgb(77, 76, 76);
        
        @media screen and (max-width: rem(575)){
            margin-top: rem(10);
            padding: rem(10) 0 0;
        }   
        &_text {
            font-size: rem(16);
            line-height: rem(28);
            color:#fff;
            font-weight: 400;
        }
    }
    
    .socials {
        
        @media screen and (max-width: rem(575)) {
            position: absolute;
            right:0;
            top:60%;
            padding: 0 rem(16);
        }
        a {
            margin-left: rem(16);
        }
    }
  
}

