@import 'styles/_unit.scss';

.sponsors {
    max-width: 100%;
    background: #F8F8F9;
    padding: rem(56) 0;
    margin: 0 auto;
    
    @media screen and (max-width: rem(991)) {
        padding: rem(16) 0;
    }
    
    &_content {
        
        
        .sponsor_content_item {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(178px,1fr));;
            gap: rem(24);
            margin: rem(28) auto 0;
            
            @media screen and (max-width: rem(1191)) {
                
            }
            @media screen and (max-width: rem(991)) {
                
            }
            @media screen and (max-width: rem(776)) {
                
            }
            @media screen and (max-width: rem(575)) {
                grid-template-columns: 1fr 1fr;
            }
        }
        
        &_title {
            font-size: rem(40);
            line-height: rem(48);
            color:#1c1c1c;
            @media screen and (max-width: rem(1191)) {
                margin-left: rem(20);
            }
            @media screen and (max-width: rem(991)) {
                margin-left: rem(10);
            }
            @media screen and (max-width: rem(776)) {
                font-size: rem(24);
                line-height: rem(29);
            }
        }
    }
    .sponsors_item {
        width: rem(188);
        height: rem(120);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: rem(12);
        box-shadow: 0px rem(0) rem(5) 0px rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        
        @media screen and (max-width: rem(1191)) {
            
        }
        @media screen and (max-width: rem(991)) {
           
        }
        @media screen and (max-width: rem(776)) {
            
        }
        @media screen and (max-width: rem(575)) {
            max-width: rem(155);
        }
    }
    
}