@import 'styles/_unit.scss';

.newspage {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) rem(0) rem(48);
    
    @media screen and(max-width: rem(991)) {
        padding: rem(100) rem(16) rem(48);
    }
    @media screen and(max-width: rem(767)) {
        padding: rem(16);
    }
    .newspage_content_item {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        gap: rem(24);
        
    }
}

// News Page Banner Css code area

.newspage_banner {
    max-width: rem(1248);
    min-height: rem(519);
    margin:0 auto rem(24);
    border:1px solid #E8E9EB;
    padding: rem(24) rem(48) rem(24) rem(32);   
    border-radius: rem(12);
    
    @media screen and (max-width: rem(991)) {
        padding: rem(12);
    }
    @media screen and (max-width: rem(767)) {
        // padding: rem(12);
        min-height: rem(300);
        padding: rem(12);
    }
    
}

.newspage_banner_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    @media screen and(max-width: rem(1191)) {
        grid-template-columns: 1fr 1fr;
        gap: rem(16);
    }
    @media screen and(max-width: rem(991)) {
        grid-template-columns: 1fr;
        gap: rem(16);
    }

    .newspage_banner_title {
        padding: 0 rem(0) 0 0;
        font-size: rem(40);
        line-height: rem(48);
        font-weight: 600;
        color:#020A22;
        margin: rem(20) 0 0;
        
        @media screen and(max-width: rem(1191)) {
            font-size: rem(36);
            line-height: rem(40);
            margin: rem(10) 0 0;
            
        }
        @media screen and(max-width: rem(991)) {
            font-size: rem(30);
            line-height: rem(40);
            margin: rem(10) 0 0;
            
        }
        @media screen and(max-width: rem(767)) {
            font-size: rem(20);
            line-height: rem(30);
            margin: rem(10) 0 0;
            
        }
    }
    .newspage_banner_subtitle {
        max-width: rem(608);
        font-size: rem(18);
        line-height: rem(27);
        color: #020A22;
        margin: rem(24) 0 0;
        
        @media screen and(max-width: rem(1191)) {
            font-size: rem(16);
            line-height: rem(24);
            max-width: rem(650);
            margin: rem(18) 0 0;
        }
        @media screen and(max-width: rem(991)) {
            font-size: rem(16);
            line-height: rem(24);
            max-width: rem(650);
            margin: rem(18) 0 0;
        }
        @media screen and(max-width: rem(767)) {
            font-size: rem(16);
            line-height: rem(24);
            max-width: rem(650);
            margin: rem(18) 0 0;
            height: rem(48);
            overflow: hidden;
        }
    }
    .newspage_banner_button {
        display: block;
        cursor: pointer;
        min-width: rem(137);
        height: rem(48);
        border-radius: rem(12);
        background: #0071FF !important;
        padding: 0 rem(18);
        border:none;
        font-size: rem(16);
        line-height: rem(32);
        color:#fff !important;
        margin: rem(32) 0 0;
        text-transform: none;
        transition: transform 0.3s ease;
        
        @media screen and(max-width: rem(1191)) {
            margin: rem(20) 0 0;
            
        }
        
        &:hover {
            transform: translate(rem(0), rem(-4));
        }
    }
}

.newspage_banner_img {
    max-width: rem(536);
    max-height: rem(471);
    border-radius: rem(8);
    overflow: hidden;
    // padding: 0 rem(12) 0;
    
    @media screen and(max-width: rem(1191)) {
    //   width: 100%;  
    }
    @media screen and(max-width: rem(991)) {
      max-width: 100%;  
      height: rem(471);
      margin: 0 auto;
      overflow: hidden;
      object-fit: cover;
      border-radius: rem(12);
    }
    @media screen and(max-width: rem(767)) {
      max-width: 100%;  
      height: rem(200);
      margin: 0 auto;
      overflow: hidden;
      border-radius: rem(12);
    }
    @media screen and(max-width: rem(575)) {
      max-width: 100%;  
      max-height: rem(300);
      margin: 0 auto;
      overflow: hidden;
      border-radius: rem(12);
    }
}
.newspage_banner_context {
    max-width: rem(700);
    
    @media screen and(max-width: rem(1191)) {
        max-width: rem(400);
        margin: 0 auto;
    }
    @media screen and(max-width: rem(991)) {
        max-width: rem(700);
        margin: 0 auto;
    }
}

.pagination {
    width: 100%;
    margin: rem(53) 0 0;
    display: flex;
    justify-content: flex-end;
}

.arrow_right {
    z-index: 99;
}
.arrow_left {
    z-index: 99;
}