@import 'styles/_unit.scss';

.newsBlock_item {
    padding: rem(12) rem(12);
    border:rem(1) solid rgb(216, 216, 216);
    border-radius: rem(12);
    cursor: pointer;
    transition: 0.4s ease;
    
    
    @media screen and (max-width: rem(767)) {
        // max-width: rem(350);
        margin: 0 auto; 
    }
    
    &:hover {
        box-shadow: rem(1) rem(2) rem(15) rem(1)  rgba(0, 0, 0, 0.2);
    }
    
    @media screen and (max-width: rem(575)) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        position: relative;
        gap: rem(16);
    }
    
    .newsBlock_item_img {
        // width: rem(368);
        height: rem(290);
        border-radius: rem(12);
        overflow: hidden;
        position: relative;
        
        @media screen and (max-width: rem(575)) {
            width: rem(130);
            height: rem(127);
        }
    }
    
    .newsBlock_context {
        
        @media screen  and (max-width: rem(575)){
            max-width: rem(177);
            height: rem(127);
        }
    }
    
    .newsBlock_date {
        max-width: rem(111);
        height: rem(29);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: rem(16) 0 0;
        
        @media screen  and (max-width: rem(575)){
           margin: 0 0 0;
           position: absolute;
           bottom: 0;
        }
    }
    .newsBlock_date span {
        font-size: rem(16);
        line-height: rem(28);
        color:#939393;
        
        @media screen  and (max-width: rem(575)){
           font-size: rem(11);
           line-height: rem(13.31);
           margin: 0 0 0 rem(10);
        }
    }
    
    .newsBlock_item_title {
        max-width: rem(348);
        font-size: rem(20);
        line-height: rem(28);
        color:#1a1a1a;
        opacity: 0.8;
        margin: rem(8) 0 0;
        font-weight: 700;
        
        @media screen  and (max-width: rem(575)){
           max-width: rem(200);
           height: rem(38);
           overflow: hidden;
           font-size: rem(16);
           line-height: rem(19);
           margin: 0 0 0;
        }
    }
    
    .newsBlock_item_subtitle {
        max-width: rem(340);
        font-size: rem(16);
        line-height: rem(28.8);
        color:#2D2D2D;
        margin: rem(8) 0 0;
        opacity: 0.8;
        
        @media screen  and (max-width: rem(575)){
           font-size: rem(14);
           line-height: rem(19);
           max-width: rem(232);
           height: rem(57);
           overflow: hidden;
        }
    }
}