@import 'styles/_unit.scss';

.management {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) 0 rem(64);
    
    
    @media screen and (max-width: rem(575)) {
        padding: rem(100) 0 rem(50);
    }
    @media screen and (max-width: rem(767)) {
        padding: rem(16);
    }
    
    .management_content {
        width: 100%;
        .management_info {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: rem(24);
            // width: 100%;
            
            @media screen and (max-width: rem(991)) {
                
            }
            @media screen and (max-width: rem(767)) {
                
            }
            @media screen and (max-width: rem(575)) {
                
            }
        }
        .management_content_item {
            max-width: rem(400);
            background: #FFFFFF;
            border: rem(1) solid #E5E9EB;
            border-radius: rem(12);
            overflow: hidden;
            margin: rem(10) auto 0;
        }
        .management_content_title {
            font-size: rem(40);
            line-height: rem(48.8);
            color:#020A22;
            font-weight: 600;
            
            @media screen and (max-width: rem(991)) {
                font-size: rem(40);
            }
            @media screen and (max-width: rem(767)) {
                font-size: rem(20);
                line-height: rem(30);
            }
            @media screen and (max-width: rem(575)) {
                // max-width: rem(400);
                font-size: rem(20);
                line-height: rem(30);
                margin: 0 auto;
            }
        }
        .management_context {
            width: 100%;
            padding: rem(8) rem(16);
            margin: rem(8) 0 0;
            h4 {
                font-size: rem(24);
                line-height: rem(32);
                max-width: rem(270);
                font-weight: 500;
                
                @media screen and (max-width: rem(991)) {
                    font-size: rem(22);
                }
                @media screen and (max-width: rem(767)) {
                    font-size: rem(20);
                    line-height: rem(28);
                }
            }
            p {
                font-size: rem(20);
                line-height: rem(32);
                color:#575757;
                font-weight: 400;
                margin: rem(8) 0 0;
                
                @media screen and (max-width: rem(767)) {
                    font-size: rem(14);
                    line-height: rem(24);
                }
                @media screen and (max-width: rem(575)) {
                    
                }
            }
            
        }
        .management_content_img {
            max-width: rem(400);
        }
        
       
    }
}
.management_partners {
    margin-top: rem(45);
    max-width: rem(400);
    .management_partners_item {
        margin: rem(64) auto 0;
        max-width: rem(606);
        
        h4 {
            font-size: rem(24);
            line-height: rem(29);
            color: #000;
            font-weight: 600;
            margin: 0 0 rem(16);
            
            @media screen and (max-width: rem(991)) {
                
            }
            @media screen and (max-width: rem(767)) {
                font-size: rem(18);
                line-height: rem(22);
            }
        }
    }
    .management_partners_img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(24);
    }
}

