@import 'styles/_unit.scss';

.sportsmen {
    max-width: rem(1440);
    margin: 0 auto;
    padding: rem(64) 0;
    
    .sportsmen_content {
        max-width: rem(1248);
        margin: 0 auto;
        
        .sportsmen_content_list {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .sportsmen_content_title {
            font-size: rem(40);
            line-height: rem(48.8);
            color:#020A22;
            font-weight: 600;
        }
        .sportsmen_list_item {
            max-width: rem(400);
            background: #FFFFFF;
            border: 1px solid #E5E9EB;
            border-radius: 12px;
            overflow: hidden;
            margin: rem(24) 0 0;
            
            .sportsmen_img {
                max-width: 100%;
                height: rem(400);
            }
            
            .sportsmen_info {
                padding: rem(16) rem(16) rem(10);
                
                h2 {
                    font-size: rem(24);
                    line-height: rem(32);
                    color:#111111;
                }
                .sportsmen_status {
                    font-size: rem(18);
                    line-height: rem(27);
                    max-width: rem(300);
                    color:#0071FF;
                    margin: rem(4) 0 0 0;
                }
                .sportsmen_place {
                    font-size: rem(16);
                    line-height: rem(28.8);
                    color:#84919A;
                }
                .sportsmen_birthDate {
                    font-size: rem(16);
                    line-height: rem(28.8);
                    color:#84919A;
                }
            }
        }
    }
}