@import 'styles/_unit.scss';

.banner_wrapper {
    width: 100%;
    background: #F8F8F9;
    text-align: center;
    // min
    .banner_slider {
        max-width: rem(1440);
        margin: 0 auto;
    }
    
    .banner {
        max-width: rem(1440);
        min-height: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        background: #F8F8F9;
        z-index: 3;
        
        
        .banner_img {
            max-width: rem(1440);
            max-height: rem(700);
            margin: 0 auto;
            overflow: scroll;
            z-index: 3;
        }
        
        .banner_info {
            position: absolute;
            right: rem(60);
            top:rem(146);
            
            @media screen and(max-width: rem(1191)) {
                top: 20%;
                right: rem(0);
            }
            @media screen and(max-width: rem(991)) {
                top: 20%;
                right: rem(0);
            }
            @media screen and(max-width: rem(767)) {
                display: none;
            }
            
            .banner_info_item {
                max-width: rem(460);
                height: rem(364);
                background: #0071FF;
                box-shadow: 0px 23px 30px rgba(0, 0, 0, 0.1);
                border-radius: 12px;
                padding: rem(32);
                text-align: left;
                
                @media screen and(max-width: rem(991)) {
                    height: rem(300);
                }
                
                h2 {
                    font-size: rem(24);
                    line-height: rem(29);
                    font-weight: 600;
                    font-family: 'Inter';
                    color:#fff;
                    max-width: rem(396);
                }
                p {
                    font-size: rem(18);
                    height: rem(162);
                    overflow: scroll;
                    line-height: rem(27);
                    font-weight: 400;
                    color:#fff;
                    opacity: 0.8;
                    margin: rem(16) 0 0;
                    
                    @media screen and(max-width: rem(991)) {
                        height: rem(115);
                    }
                }
                
                .banner_control_panel {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: rem(16) 0 0;
                }
                
                .banner_content_btn {
                    background: #FFFFFF;
                    border-radius: 12px;
                    height: rem(48);
                    padding: rem(8) rem(18);
                    color:#0071FF;
                    text-transform: none;
                    font-size: rem(16);
                    line-height: rem(32);
                    font-weight: 500;
                    transition: 0.2s ease transform;
                    
                    &:hover {
                        transform: translate(0, -3px);
                    }
                }
                .banner_control_arrows {
                    width: rem(112);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    
                    .btn {
                        width: rem(48);
                        height: rem(48);
                        border:none;
                        background: rgba(255, 255, 255, 0.1);
                        border-radius: 50%;
                        transform: matrix(-1, 0, 0, 1, 0, 0);
                        padding: 0 !important;
                        cursor: pointer;
                    }
                }
            }
        }
        
        // MObile Info
        .mobile_info {
            display: none;
            
            @media screen and(max-width: rem(767)) {
                display: block;
                max-width: rem(643);
                text-align: left;
                margin: 0 auto;
                padding:rem(16);
            }
            
            .mobile_info_text {
                max-width: rem(643);
                font-size: rem(14);
                line-height: rem(24);
                font-weight: 400;
                color:#2d2d2d;
                opacity: 0.8;
                
                @media screen and(max-width: rem(767)) {
                    height: rem(100);
                }
                @media screen and(max-width: rem(575)) {
                    height: rem(143);
                }
            }
            .mobileBanner_control_panel {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: rem(16) 0 0;
            }
            
            .mobileBanner_readMore {
                width: rem(203);
                height: rem(44);
                // padding: rem(10) rem(41);
                text-transform: none;
                background: #0071FF;
                border-radius: 12px;
                color:#fff;
                font-size: rem(14);
                line-height: rem(24);
                font-weight: 500;
            }
            
            .mobile_arrow_buttons {
                width: rem(100);
                display: flex;
                justify-content: space-between;
                
                button {
                    width: rem(44);
                    height: rem(44);
                    border-radius: 50%;
                    border:none;
                    background: #fff;
                }
            }
        }
    }   
}