@import 'styles/_unit.scss';

.sportsmen {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) rem(16) rem(64);
    
    @media screen and (max-width: rem(1191)) {
        
    }
    @media screen and (max-width: rem(767)) {
        padding: rem(16);
    }
    @media screen and (max-width: rem(1191)) {
        
    }
    
    .sportsmen_content {
        max-width: rem(1248);
        margin: 0 auto;
        
        .sportsmen_content_list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
            gap: rem(16);
            
            @media screen and(max-width: rem(991)) {
                // grid-template-columns: 1fr 1fr;
                // gap: rem(16);
            }
            @media screen and(max-width: rem(575)) {
                // grid-template-columns: 1fr;
                // gap: rem(16);
            }
            
            .sportsmen_reachInfo {
                width: 100%;
                max-height: rem(576.9);
                background: #FFFFFF;
                border: 1px solid #E5E9EB;
                border-radius: 12px;
                margin: rem(25) auto 0;
                padding: rem(24);
                
                @media screen and(max-width: rem(767)) {
                    display: none;
                }
                
                .sportsmen_content {
                    max-height: rem(515);
                    overflow: scroll;
                }
                
                .sportsmen_reachInf_item {
                    margin: rem(15) 0 0;
                    
                    h3 {
                        margin: 0 0 rem(8);
                        font-size: rem(24);
                        line-height: rem(29);
                        font-weight: 600;
                        color:#000;
                    }
                    p {
                        padding: rem(8) 0 rem(8);
                        font-size: rem(16);
                        line-height: rem(28.8);
                        font-weight: 400;
                        color:#000;
                        font-family: 'Inter';
                        border-bottom: 1px solid #F1F1F1;
                        
                        span {
                            display: block;
                            font-size: rem(16);
                            line-height: rem(28.8);
                            font-weight: 400;
                            color:#84909A;
                        }
                    }
                }
                
            }
        }
        .sportsmen_content_title {
            font-size: rem(40);
            line-height: rem(48.8);
            color:#020A22;
            font-weight: 600;
            
            @media screen and(max-width: rem(767)) {
                font-size: rem(34);
                line-height: rem(30);
            }
            @media screen and(max-width: rem(575)) {
                max-width: rem(400);
                margin: 0 auto;
                font-size: rem(20);
                line-height: rem(30);
            }
        }
        .sportsmen_list_item {
            max-width: rem(400);
            background: #FFFFFF;
            border: rem(1) solid #E5E9EB;
            border-radius: rem(12);
            overflow: hidden;
            margin: rem(24) auto 0;
            
            .sportsmen_img {
                max-width: 100%;
                max-height: rem(400);
            }
            
            .sportsmen_info {
                padding: rem(16) rem(16) rem(10);
                
                h2 {
                    font-size: rem(24);
                    line-height: rem(32);
                    color:#111111;
                    font-weight: 500;
                    display: block;
                    
                    @media screen and(max-width: rem(991)) {
                        
                    }
                    @media screen and(max-width: rem(767)) {
                        font-size: rem(20);
                        line-height: rem(24);
                        font-weight: 500;
                        color:#111;
                    }
                }
                .sportsmen_mobile_title {
                    display: none;
                    font-size: rem(20);
                    line-height: rem(22);
                    cursor: pointer;
                    
                    @media screen and(max-width: rem(767)) {
                        display: block;
                    }
                }
                .sportsmen_status {
                    font-size: rem(18);
                    line-height: rem(27);
                    max-width: rem(300);
                    color:#0071FF;
                    margin: rem(4) 0 0 0;
                    font-weight: 400;
                    
                    @media screen and(max-width: rem(767)) {
                        font-size: rem(16);
                        line-height: rem(24);
                    }
                }
                .sportsmen_place {
                    font-size: rem(16);
                    line-height: rem(28.8);
                    color:#84919A;
                    font-weight: 400;
                    
                    @media screen and(max-width: rem(767)) {
                        font-size: rem(14);
                        line-height: rem(24);
                    }
                }
                .sportsmen_birthDate {
                    font-size: rem(16);
                    line-height: rem(28.8);
                    color:#84919A;
                    font-weight: 400;
                    
                    @media screen and(max-width: rem(767)) {
                        font-size: rem(14);
                        line-height: rem(24);
                    }
                }
            }
        }
    }
}
   
.mobile_sportsmenInfo {
    .mobile_sportsmenInfo_item {
        max-width: rem(327) !important;
        height: rem(384) !important;
        background: #fff !important;
        padding: rem(24) rem(24) rem(20);
        border-radius: rem(12);
        position: relative;
        
        .cancel_btn {
            position: absolute;
            right: rem(12);
            top: rem(12);
            background: none;
            border:none;
            
        }
        h2 {
            font-size: rem(20);
            line-height: rem(30);
            color:#000;
            margin: 0 0 rem(8);
        }
        p {
            font-size: rem(14);
            line-height: rem(34);
            color:#000;
            font-family: 'Inter';
            padding: rem(8) 0;
            border-bottom: 1px solid #E5E9EB;
            
            span {
                font-size: rem(14);
                line-height: rem(24);
                color:#84909A;
                display: block; 
            }
            
        }
        .sportsmen_info_content {
            max-height: rem(300);
            overflow: scroll;
        }
    }   
    
    
}