@import 'styles/_unit.scss';

.desktop_header {
    
    @media screen and(max-width: rem(767)) {
        display: none;
    }
}
.mobile_header {
    display: none;
    height: rem(64);
    
    @media screen and(max-width: rem(767)) {
        display: block;
    }
}

// DESKTOP CSS CODE AREA
.header {
    width: 100%;
    padding: rem(14) rem(10);
    margin: 0 auto;
    position: fixed;
    z-index: 3;
    background: #fff;
    left:0;
    box-shadow:rem(2) 0 rem(2) rem(2) rgba(0, 0, 0, 0.1);
    
    .header_content {
        display: flex;
        justify-content: space-between;
    }
    .header_logo {
        width: rem(88);
        height: rem(36.04);
    }
    .header_item_logo {
        min-width: rem(277);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .calendar_tab {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        .calendar_title {
            font-size: rem(16);
            line-height: rem(19.36);
            color:#020A22;
            margin-left: rem(10);
            font-family: 'Inter';
        }
        
    }
    .navbar_items {
        width: rem(454);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: rem(5);
        
       @media screen and(max-width: rem(767)){
        // display: none;
       } 
    }
    .navbar_links {
        min-width: rem(70);
        min-height: rem(20);
        font-size: rem(16);
        line-height: rem(18.96);
        color:#020A22;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Rubik';
        font-weight: 400;
        transition: 0.4s ease;
        
        &:hover {
            color:#0071FF
        }
    }
    
}
.dropDown_navbar {
    width: rem(227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(24) rem(32);
    box-shadow: 0 rem(4) rem(35) rgba(0, 0, 0, 0.08);
    border-radius: rem(20);
    overflow: hidden;
    
    .dropDown_link {
        padding: rem(8) 0;
        transition: 0.5s ease;       
         
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        &:hover {
            color:#0071FF;
        }
    }
}

.navbar_activeLink {
    min-width: rem(70);
    min-height: rem(20);
    font-size: rem(16);
    line-height: rem(18.96);
    color:#020A22;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rubik';
    font-weight: 400;
    text-underline-offset: rem(24);
    text-decoration: 4px solid underline;
    text-decoration-color: #0071FF;
    cursor: pointer;
    
    &:hover {
        color:#0071FF;
    }
}


// MOBILE HEADER CSS CODE AREA
.mobile_header_content {
    position: fixed;
    top:0;
    left:0;
    padding: rem(12) rem(16);
    z-index: 3;
    width: 100%;
    height: rem(64);
    background: #fff;
    box-shadow:rem(2) 0 rem(2) rem(2) rgba(0, 0, 0, 0.1);
    
    .mobile_header_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        .menuBurger_btn {
            width: 40px;
            height: 40px;
            border-radius: rem(8);
            background: rgba(0, 113, 255, 0.04);
            padding: 0 !important;
        }
    }
}


.mobile_header_links {
    width: rem(311);
    padding: rem(16);
    
    .mobile_logo {
        display: block;
        margin: 0 0 rem(24);
    }
    
    .mobile_header_linkItem {
        display: flex;
        flex-direction: column;
        
        .mobile_header_link {
            display: block;
            padding: rem(14) rem(12) rem(14) 0;
            font-size: rem(16);
            line-height: rem(20);
            color:#000;
            box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.07);
            margin: 0 0 rem(12) 0;
        }
    }
}