@import 'styles/_unit.scss';

.video {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) 0 rem(64);
    
    @media screen and (max-width: rem(767)) {
        padding: rem(16) 0 rem(16);
    }
    @media screen and (max-width: rem(575)) {
        
    }
    .video_content {
        
        .video_content_item {
            display: grid;
            gap: rem(20);
            grid-template-columns: 1fr 1fr 1fr;
            box-sizing: border-box;
            
            @media screen and (max-width: rem(991)) {
                grid-template-columns: 2fr 2fr;
            }
            @media screen and (max-width: rem(767)) {
                grid-template-columns: 1fr 1fr;
            }
            @media screen and (max-width: rem(575)) {
                grid-template-columns: 1fr;
            }
        }
        
        .video_content_title {
            font-size: rem(40);
            line-height: rem(48.41);
            color:#020A22;
            margin: 0 0 rem(32);
            font-weight: 600;
            
            @media screen and(max-width: rem(767)) {
                display: none;
            }
        }
    }
    .videoList_item {
        max-width: rem(1248);
        min-height: rem(280);
        border-radius: rem(12);
        border: rem(1) solid #ccc;
        overflow: hidden;
        object-fit: cover;
        position: relative;
        
        .videoList_context {
            position: absolute;
            bottom:rem(16);
            left:rem(16);
            z-index: 2;
        }
        
        .videoList_playIcon {
            position: absolute;
            z-index: 2;
            left:50%;
            top:50%;
            transform: translate(-50%, -50%);
            width: rem(57);
            height: rem(57);
            border: rem(0.5) solid rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .videoList_playIconBtn {
                width: rem(51);
                height: rem(51);
                border-radius: 50%;
                opacity: 0.8 !important;
                border:none;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                
                .playIcon {
                    width: rem(21);
                    height: rem(21);
                    margin: rem(3) 0 0 rem(3);
                }
            }
        }
        
        .videoList_date {
            display: flex;
            align-items: center;
            span {
                font-size: rem(16);
                line-height: rem(28.8);
                color: #fff;
                opacity: 0.8;
                margin: 0 0 0 rem(10);
                font-weight: 400;
                
                @media screen and(max-width: rem(767)) {
                    font-size: rem(11);
                    line-height: rem(13);
                }
            }
        }
        
        .videoList_title {
            font-size: rem(20);
            line-height: rem(28);
            color:#fff;
            padding: 0 rem(143) 0 0;
            font-weight: 700;
            
            @media screen and(max-width: rem(767)){
                font-size: rem(14);
                line-height: rem(16);
                margin: rem(7.5) 0 0;
            }
        }
    }
    .content_length {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: rem(24) 0 0;
        
        .showContentBtn {
            width: rem(190);
            height: rem(48);
            border-radius: rem(12);
            border:none;
            cursor: pointer;
            background: #0071FF;
            font-size: rem(18);
            line-height: rem(27);
            color:#fff;
            text-transform: none;
            transition: transform 0.3s ease;
        
            &:hover {
                transform: translate(rem(0), rem(-4));
            }
        }
    }
}

.videoList_video {
    position: relative;
    max-width: rem(1248);
    height: rem(600);
    overflow: hidden;
    padding-top: rem(56.25%);
    margin: rem(40) 0 0;
    
    
    @media screen and(max-width: rem(1191)){
        
    }
    @media screen and(max-width: rem(767)){
        height: rem(360);
    }
    
    .iframe_video {
        position: absolute;
        top: rem(0);
        bottom: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        border-radius: rem(12);
        border: none !important;
        
        @media screen and(max-width: rem(991)){
            height: 100%;
        }
        
        button {
            display: none !important;
        }
    }
    
}
.videoList_closeIcon {
    position: absolute;   
    right: 0;
    z-index: 99999;
    background: none;
    border:none;
    cursor: pointer;
}

// Video Player Layer

.videoList_layer {
    max-width: rem(1248);
    height: rem(600);
    background: #000;
    margin: rem(40) 0 0;
    position: relative;
    overflow: hidden;
    border-radius: rem(12);
    
    @media screen and(max-width: rem(767)){
       height: rem(400); 
    }
    
    .videoList_layer_btn {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 8;
        border: 0.77193px solid rgba(255, 252, 252, 0.3);
        height: rem(88);
        width: rem(88);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        @media screen and(max-width: rem(991)){
            width: rem(70);
            height: rem(70);
        }
        
        .videoList_btns {
            width: rem(78.74);
            height: rem(78.74);
            border-radius: 50%;
            background: #fff;
            opacity: 0.8 !important;
            border: none;
            z-index: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0 0 0 rem(5);
            
            @media screen and(max-width: rem(991)){
                width: rem(70);
                height: rem(70);
            }
            
        }
    }
    
    .videoList_img {
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
    }
    
    .videoList_layer_context {
        position: absolute;
        z-index: 9999;
        bottom: 0;
        margin: 0 0 rem(30) rem(32);
        
        p {
            display: flex;
            align-items: center;
            
            span {
                font-size: rem(24);
                line-height: rem(29);
                color:#fff;
                opacity: 0.8;
                font-weight: 400;
                margin: 0 0 0 rem(8);
                font-family: 'Inter';
                
                @media screen and(max-width: rem(991)){
                    font-size: rem(20);
                }
                @media screen and(max-width: rem(767)){
                    font-size: rem(18);
                }
            }
        }
        h4 {
            font-size: rem(40);
            line-height: rem(48);
            font-weight: 600;
            color:#fff;
            font-family: "Inter";
            
            @media screen and(max-width: rem(991)){
                font-size: rem(30);
            }
            @media screen and(max-width: rem(767)){
                font-size: rem(26);
            }
            @media screen and(max-width: rem(575)){
                font-size: rem(20);
            }
        }
    }
    
}


.mobile_videoList {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    // position: relative;
    display: none !important;
    
    @media screen and(max-width: rem(767)){
        display: block !important;
    }
    
    .mobile_video {
        width: 100%;
        height: rem(300);
        margin: rem(40) 0 0 0;
    }
    
    .mobile_iframe_video {
        width: 100%;
        height: 100%;
        margin: rem(80) 0 0;
    }
    
    .mobile_context {
       position: absolute;
       bottom:0;
    }
    
    .mobile_cancel_btn {
        width: rem(48);
        height: rem(48);
        right: rem(16);
        top: rem(24);
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border:none;
        cursor: pointer;
        position: absolute;
    }
    
    .mobile_context {
        margin: 0 0 rem(16) rem(16);
        
        p {
           display: flex; 
           align-items: center;
           font-weight: 400;
            span {
                font-size: rem(16);
                line-height: rem(28);
                color:#fff;
                opacity: 0.8;
                margin: 0 0 0 rem(10);
            }
        }
        h4 {
            font-size: rem(15);
            line-height: rem(18);
            color:#fff;
            font-weight: 500;
            margin: rem(4) 0 0;
        }
    }
}

.mobile_layer {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    // position: relative;
    display: none !important;
    
    @media screen and(max-width: rem(767)){
        display: block !important;
    }
    
    .mobile_context {
        position: absolute;
        bottom:0;
     }
     
     .mobile_cancel_btn {
         width: rem(48);
         height: rem(48);
         right: rem(16);
         top: rem(24);
         z-index: 999;
         display: flex;
         align-items: center;
         justify-content: center;
         background: none;
         border:none;
         cursor: pointer;
         position: absolute;
     }
     
     .mobile_context {
         margin: 0 0 rem(16) rem(16);
         
         p {
            display: flex; 
            align-items: center;
            font-weight: 400;
             span {
                 font-size: rem(16);
                 line-height: rem(28);
                 color:#fff;
                 opacity: 0.8;
                 margin: 0 0 0 rem(10);
             }
         }
         h4 {
             font-size: rem(15);
             line-height: rem(18);
             color:#fff;
             font-weight: 500;
             margin: rem(4) 0 0;
         }
     }
     
     .mobile_img {
        width: 100%;
        height: rem(300);
        margin: rem(120) 0 0;
        position: relative;
        
        img {
            width: 100%;
            height: 100%;
        }
        
        .mobile_playBtn {
            position: absolute;
            z-index: 999;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: rem(56);
            height: rem(56);
            border-radius: 50%;
            border: 0.5px solid rgba(255, 252, 252, 0.3);
            display: flex;
            justify-content: center;
            align-items: center;
            
            button {
                width: rem(50);
                height: rem(50);
                border-radius: 50%;
                border: none;;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0 0 0 rem(5);
                cursor: pointer;
            }
        }
     }
    
}