@import 'styles/_unit.scss';

.newsBlock {
    max-width: 100%;
    margin: 0 auto 0;
    padding: rem(56) rem(16);
    
    @media screen and (max-width: rem(991)) {
        padding: 0 rem(16);
        margin: rem(16) 0;
    }
    @media screen and (max-width: rem(767)) {
        padding: 0 rem(0);
        margin: rem(16) 0;
    }
    .newsBlock_content {
        
        &_title {
            font-size: rem(40);
            line-height: rem(48);
            color:#1c1c1c;
            margin: 0 0 rem(28);
            font-weight: 600;
             
            @media screen and (max-width: rem(1191)) {
                margin-left: rem(20);
            }
            @media screen and (max-width: rem(991)) {
                margin-left: rem(10);
            }
            @media screen and (max-width: rem(776)) {
                font-size: rem(24);
                line-height: rem(29);
            }
        }
        &_item {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            justify-content: space-between;
            gap: rem(24);

            @media screen and (max-width: rem(991)) {
                
            }
            @media screen and (max-width: rem(767)) {
                
            }
            @media screen and (max-width: rem(575)) {
                
            }
        }
        
    }
}