@import 'styles/_unit.scss';

.competition {
   max-width: 100%; 
   background: #fff;
   margin: 0 auto;
   padding: rem(80) rem(16);
   
   @media screen and (max-width: rem(767)) {
        padding: rem(16) rem(16) rem(56) rem(16);
    }
   
   &_content {
    max-width: rem(1248);
    margin: 0 auto;
    &_title {
        font-size: rem(40);
        line-height: rem(48);
        color: #020A22;
        font-weight: 600;
        margin: 0 0 rem(56);
        
        @media screen and(max-width: rem(767)) {
           margin: 0 0 rem(0);
           font-size: rem(20);
           line-height: rem(30);
           font-weight: 600;
        }
        
        @media screen and (max-width: rem(575)) {
            font-size: rem(24);
            line-height: rem(29);
            }
        }
        
    &_item {
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));; 
        gap: rem(48);
        
        @media screen and (max-width: rem(1191)) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: rem(48);
            }
        @media screen and (max-width: rem(991)) {
            display: grid;
            grid-template-columns: 1fr;
            gap: rem(48);
            }
        @media screen and (max-width: rem(767)) {
            display: none;
            }
        }    
        
        // mobile Competition item
       
        .mobileCompetition_content_item {
            display: none;
            @media screen and(max-width: rem(767)) {
                display: block;
            }
        }
        
        .mobileCompetition_item {
                margin: rem(20) 0 0;
                display: none;
                height: rem(220);
                
        }
        
    }
    .competition_item {
        border: rem(1) solid #E8E9EB;
        border-radius: rem(12);
        padding: rem(36) rem(24) rem(16);
        // margin: rem(24) 0 0;
        position: relative;
        transition: 0.4s ease;
        
        @media screen and(max-width: rem(767)) {
            margin: rem(36) rem(10) rem(30);
        }
        
        &:hover {
            box-shadow: rem(0) rem(0) rem(15) rem(0)  rgba(0, 0, 0, 0.2);
            
            .seeMore_button {
                transform: translate(rem(8), rem(0));
                background: #fff !important; 
            }
        }
        
        &_title {
            font-size: rem(20);
            line-height: rem(28);
            color:#020A22;
            font-weight: 700;
            
            @media screen and (max-width: rem(767)) {
                font-size: rem(16);
                line-height: rem(19);
                font-weight: 600;
            }
        }
        &_subtitle {
            max-width: rem(564);
            opacity: 0.7;
            height: rem(58);
            overflow: hidden;
            font-size: rem(16);
            line-height: rem(28);
            color:#2D2D2D;
            margin: rem(16) 0 0;
            font-weight: 400;
            
            @media screen and (max-width: rem(767)) {
                font-size: rem(14);
                line-height: rem(19);
            }
        }
    }
    .competition_date {
        position: absolute;
        top: rem(-20);
        padding: rem(8) rem(16);
        background: #0071FF;
        border-radius: rem(21);
        color:#fff;
        font-size: rem(16);
        line-height: rem(28);
        font-weight: 400;
        
        @media screen and(max-width: rem(767)) {
            font-size: rem(14);
            line-height: rem(24);
        }
    }
    .seeMore_button {
        background: none;
        border:none;
        height: rem(29);
        width: rem(90);
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: rem(16);
        line-height: rem(28);
        color:#0071FF;
        margin: rem(16) 0;
        cursor: pointer;
        transition: transform 0.3s ease;
        
    }
    .infoIcon {
        margin-left: rem(10) !important;
    }

}

// Modal
.modal {
    max-width: rem(528);
    max-height: rem(426);
    background: #fff;
    position: relative;
    border-radius:rem(12) !important;
    padding: rem(48);
    z-index: 999;
    
    @media screen and(max-width: rem(767)) {
        // height: rem(336);
        padding: rem(16) rem(16) rem(16) rem(16);
    }
    @media screen and(max-width: rem(575)) {
        // height: rem(336);
        padding: rem(16);
    }
    
    .modal_content {
        overflow: scroll;
    }
    
    .modal_content_title {
        font-size: rem(34);
        line-height: rem(43);
        color: #020A22;
        font-weight: 600;
        font-family: 'Inter';
        
        @media screen and(max-width: rem(575)) {
            font-size: rem(20);
            line-height: rem(20);
            margin-top: 0;
        }
    }
    .modal_content_date {
        font-size: rem(18);
        line-height: rem(22);
        color:#0071FF;
        font-weight: 500;
        margin: rem(8) 0 0;
        
        @media screen and(max-width: rem(575)) {
            font-size: rem(16);
            line-height: rem(24);
        }
    }
    .modal_content_subtitle {
        font-size: rem(16);
        line-height: rem(28.8);
        font-weight: 400;
        color:#464646;
        margin: rem(24) 0 0;
        max-height: rem(232);
        
        @media screen and(max-width: rem(575)) {
            font-size: rem(16);
            line-height: rem(24);
            max-height: rem(150);
            overflow: scroll;
        }
    }
    
    .modal_closeBtn {
        position: absolute;
        top:rem(24);
        right: rem(28);
        background: none;
        border:none;
        width: rem(20);
        height: rem(20);
        cursor: pointer;
        
        @media screen and (max-width: rem(767)){
            top: rem(12);
            right: rem(12);
        }
        @media screen and (max-width: rem(575)){
            
        }
    }
}

// Slider dots customization
