@import 'styles/_unit.scss';

.about {
    max-width: 100%;
    margin: 0 auto;
    padding: rem(128) 0 rem(64);
    
    @media screen and (max-width: rem(1191)) {
        
    }
    @media screen and (max-width: rem(991)) {
        padding: rem(100) 0 rem(64);
    }
    @media screen and (max-width: rem(767)) {
        padding: rem(16);
    }
    .about_content {
        
        .about_content_title {
           font-size: rem(40); 
           line-height: rem(48);
           color:#020A22;
           font-weight: 600;
           
           @media screen and(max-width: rem(1191)) {
                max-width: rem(768);
                margin: 0 auto rem(16);
           }
           @media screen and(max-width: rem(991)) {
                max-width: rem(768);
                margin: 0 auto rem(15);
           }
           @media screen and(max-width: rem(767)) {
                line-height: rem(30);
                font-size: rem(20);
           }
        }
        
        .about_banner {
            max-width: 100%;
            max-height: rem(328);
            margin: rem(32) 0 0;
            
            @media screen and (max-width: rem(1191)) {
                max-width: rem(768);
                margin: 0 auto;
                // height: rem(200);
            }
            @media screen and (max-width: rem(991)) {
                max-width: rem(768);
                margin: 0 auto;
                // height: rem(200);
            }
            @media screen and (max-width: rem(767)) {
                max-width: rem(768);
                margin: 0 auto;
                // height: rem(150);
            }
        }
        
        .about_img {
            max-width: rem(768);
            max-height: rem(485);
            margin: 0 auto rem(32);
            @media screen and (max-width: rem(991)) {
                // max-width: rem(768);
            }
        }
        
        .about_content_text {
            max-width: rem(768);
            margin: rem(32) auto 0;
            
            .about_content_subtitle {
               font-size: rem(16); 
               line-height: rem(28);
               color:#020A22;
               font-weight: 400;
               
               @media screen and (max-width: rem(575)) {
                    font-size: rem(14);
                    line-height: rem(28);
               }
               
               &:not(:last-child) {
                margin:  0 0 rem(25) 0;
               }
            }
        }
    }
}